.TicTacToe {
  text-align: center;
}

.TicTacToe-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Board {
  display: flex;
  flex-direction: row;
}

.Board-Column {
  flex-direction: column;
  justify-content: flex-start;
  width: 50px;
  height: 150px;
  background-color: white;
}

.Board-Row {
  width: 48px;
  height: 48px;
  background-color: black;
  margin: 1px;
  font-size: xx-large;
}

.Logs {
  background: #0000003b;
  width: 300px;
  height: 170px;
  overflow-y: scroll;
}

.Logs-Text {
  font-size: small;
}